extends header

block content
	.main-wrapper
		h1.center#album-header ANNE
		//- .links-panel
		//- 	a.github-button(href='/home', target='_blank')
		//- 		i.fa.fa-github.fa-lg
		//- 		|	Home
		p
			| Photoshoot with model Anne Liu at Ateneo de Manila University for her 18th Birthday.
			br
			| Nikon D750. 50mm 1.8D.
			br
			br
			| 01-23-2016

		include ./includes/album-body.jade
	include ./includes/album-script.jade