extends header

block content
	.main-wrapper
		h1.center#album-header Busan-Jeju
		p
			| Landscape shoot in Busan and Jeju, South Korea
			br
			| Places feature Sunrise Peak, Dragon Head Rock, and Seopjikoji
			br
			| Nikon D750. 15mm f/5.6.
			br
			br
			| 07.03.2016 - 07.13.2016

		include ./includes/album-body.jade
	include ./includes/album-script.jade