extends layout

block content
	#home
		h1.center#home-head Hello.
			.center(style="height: auto;")
				a.waves-effect.waves-light.btn.red.about-button(href="#", style='text-shadow: 0 0 0; font-size: 12px; font-family: "Ubuntu"') Get Started
	#about
		h1.center#who-head Who am I?
		.inline-div
			p(align='center') I am a photographer focusing on no specific field, as I like to explore different fields of photography to be able to bring out the most of my creativity.
		.inline-div
			p(align='center') I'm also a musician, from the band 'Hot Bandesal'. I play the guitar, bass, drums, and do backup vocals. I engineer all our recordings and am still learning more about the production phase.
		.inline-div
			p(align='center') I'm also learning to develop websites, apps, and learn more about the computer science world.
	#portfolio
		h1.center#gallery-head Gallery
		.gallery-text
			h4 Lorem Ipsum
			p.
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent laoreet est vel nisi rhoncus, et pellentesque ipsum efficitur. Cras dictum fermentum tellus eu euismod. Etiam et imperdiet nibh, in convallis purus. Quisque vulputate, neque ac pretium mollis, nisi nulla hendrerit enim, ac rhoncus tortor nulla nec ligula. Aliquam lectus mi, ullamcorper eget consectetur non, aliquam et justo. Aenean nec lobortis lorem. Praesent sed nisl quis leo tempor sollicitudin ac sed velit. Nullam sit amet purus sit amet turpis vehicula laoreet a vitae neque.
		#container
			ul.gallery
				li
					a.pic-1.border(href='/siypporo2016')
						img(src='https://farm2.staticflickr.com/1640/25554840014_3808f85ac2_k.jpg', alt='#SIYpporo2016')
						.polaroid-text.center
							|	#Siypporo2016
				li
					a.pic-2.border(href='/trinket-bar')
						img(src='https://farm2.staticflickr.com/1582/25883286936_8cb0b21aa8_k.jpg', alt='Trinket Bar product Shoot')
						.polaroid-text.center
							|	Product Shoot - Trinket Bar
				li
					a.pic-3.border(href='/Anne')
						img(src='https://farm2.staticflickr.com/1589/25218691774_b461ca20ed_k.jpg', alt='Anne pre-Debut')
						.polaroid-text.center
							|	Anne pre-Debut
				li
					a.pic-4.border(href='/busan-jeju')
						img(src='https://farm9.staticflickr.com/8588/28622953765_b416d3d1fe_k_d.jpg', alt= 'busan-jeju')
						.polaroid-text.center
							|	Busan-Jeju
				li
					a.pic-5.border(href='/UPFair')
						img(src='https://farm2.staticflickr.com/1533/24740947460_34f80b7c47_k.jpg', alt= 'UP Fair')
						.polaroid-text.center
							|	UP Fair
				li
					a.pic-6.border(href='/creative')
						img(src='https://farm6.staticflickr.com/5629/20972601448_025763a6ac_k.jpg', alt='Creative')
						.polaroid-text.center
							|	Creative
	script.
		$(".home-button").click(function() {
			$('html, body').animate({
				scrollTop: $("#home").offset().top
			}, 1000);
		});
		$(".about-button").click(function() {
			$('html, body').animate({
				scrollTop: $("#about").offset().top
			}, 1000);
		});
		$(".portfolio-button").click(function() {
			$('html, body').animate({
				scrollTop: $("#portfolio").offset().top
			}, 1000);
		});