extends header

block content
	.main-wrapper
		h1.center#album-header Trinket Bar
		p
			| Product shoot for Trinket Bar
			br
			| Necklaces, Bracelets, Rings, and Earrings
			br
			| Nikon D750. 105mm f/2.8
			br
			br
			| 12.25.2015

		include ./includes/album-body.jade
	include ./includes/album-script.jade