extends header

block content
	.main-wrapper
		h1.center#album-header UP Fair 2016
		p
			| University-wide event covered by the UP Optics. Featuring multiple bands famous nationwide including Franco, Hale, Rivermaya, and more.
			br
			| Nikon D750. 24-85 f3.5-5.6
			br
			br
			| January something, 2016

		include ./includes/album-body.jade
	include ./includes/album-script.jade